<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/site/css/app.css">
</head>

<body>

    <div class="app">

        <aside class="sidebar">
            <a href="/login" class="brand">影</a>
            <a href="/in-theaters">正在<br>上映</a>
            <a href="/coming-soon">即将<br>上映</a>
            <a href="/rank">分类<br>排行</a>
        </aside>

        <div class="container-fluid app-container">
            {% block theme %}{% endblock %}
            {% block nav %}{% endblock %}
            {% block content %}{% endblock %}
        </div>

        <div class="modal fade" id="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modal-body"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>

    <script src="/site/js/jquery.min.js"></script>
    <script src="/site/js/bootstrap.min.js"></script>
    <script src="/site/js/app.js"></script>
</body>
</html>
