<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/site/css/app.css">
</head>

<body>

    <div class="app">

        <aside class="sidebar">
            <a href="/login" class="brand">影</a>
            <a href="/in-theaters">正在<br>上映</a>
            <a href="/coming-soon">即将<br>上映</a>
            <a href="/rank">分类<br>排行</a>
        </aside>

        <div class="container-fluid app-container">
            {% block theme %}{% endblock %}

            {% block nav %}{% endblock %}

            {% block content %}{% endblock %}
        </div>

    </div>

    <script src="/site/js/jquery.min.js"></script>
    <script src="/site/js/bootstrap.min.js"></script>
    <script src="/site/js/app.js"></script>
</body>
</html>
