{% extends "_layout.html" %}


{% block title %}即将上映{% endblock %}


{% block theme %}
<div class="theme">
    <h1>新片速递</h1>
    <p>关注最新上映电影，规划美好电影旅程</p>
</div>
{% endblock %}


{% block nav %}
<nav class="top-nav">
    <ul class="nav main-nav">
        <li class="active">想看人数</li>
        <li>上映日期</li>
    </ul>
</nav>
{% endblock %}


{% block content %}
<main class="coming-soon">
    {% for movie in movies %}
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-9">
                        <h1 class="title">
                            {{ movie.title }}
                            <small>上映：{{ movie.show_at[0:10] }}</small>
                        </h1>
                    </div>
                    <div class="col-md-3 text-right">
                        <span class="rating">{{ movie.rating_count }}人想看</span>
                    </div>
                </div>
                <p class="summary">{{ movie.summary }}</p>
            </div>

            <div class="col-md-2">
                <img src="{{ movie.cover }}" alt="{{ movie.title }}">
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %}
