{% extends "_layout.html" %}


{% block title %}正在上映{% endblock %}


{% block theme %}
<div class="theme">
    <h1>正在上映</h1>
    <p>关心正在热映电影，体验时髦生活</p>
</div>
{% endblock %}


{% block nav %}
<nav class="top-nav">
    <ul class="nav main-nav">
        <li class="active">评分</li>
        <li>上映日期</li>
    </ul>
</nav>
{% endblock %}


{% block content %}
<main class="in-theaters">

    {% for movie in movies %}
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="title">{{ movie.title }}</h1>
                </div>
                <div class="col-md-6 text-right">
                    <span class="rating">{{ movie.rating }} 分</span>
                </div>
            </div>
            <p class="summary">{{ movie.summary }}</p>
        </div>

        <div class="col-md-2">
            <img src="{{ movie.cover }}" alt="{{ movie.title }}">
        </div>
    </div>
    {% endfor %}

</main>
{% endblock %}
