{% extends "_layout.html" %}


{% block title %}登录·注册{% endblock %}


{% block content %}
<div class="login-register-box">

    <!-- nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">登录</a></li>
        <li role="presentation"><a href="#register" aria-controls="register" role="tab" data-toggle="tab">注册</a></li>
    </ul>
    <!-- end nav tabs -->

    <!-- tab panes -->
    <div class="tab-content">
        <!-- login from -->
        <div role="tabpanel" class="tab-pane active" id="login">
            <div class="login-form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">用户名</div>
                        <input type="text" class="form-control" placeholder="请输入用户名" id="login-username">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">密码</div>
                        <input type="password" class="form-control" placeholder="请输入密码" id="login-password">
                    </div>
                </div>

                <button class="btn btn-primary btn-block" id="btn-login" role="button">登录</button>
            </div>
        </div>
        <!-- end login from -->

        <!-- register form -->
        <div role="tabpanel" class="tab-pane" id="register">
            <div class="register-form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">用户名</div>
                        <input type="text" class="form-control" placeholder="请输入用户名" id="register-username">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">密码</div>
                        <input type="password" class="form-control" placeholder="请输入密码" id="register-password">
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">确认密码</div>
                        <input type="password" class="form-control" placeholder="请再次输入密码" id="register-repeat">
                    </div>
                </div>

                <button class="btn btn-primary btn-block" id="btn-register" role="button">注册</button>
            </div>
        </div>
        <!-- end register form -->
    </div>
    <!-- end tab panes -->

</div>
{% endblock %}
