{% extends "_layout.html" %}


{% block title %}分类排行{% endblock %}


{% block theme %}
<div class="theme">
    <h1>分类排行</h1>
    <p>分类体验花式生活，创造多彩电影体验</p>
</div>
{% endblock %}


{% block nav %}
<nav class="top-nav">
    <ul class="nav main-nav">
        <li class="genre {% if not request.args.get('sort') or request.args.get('sort') == '全部' %}active{% endif %}">全部</li>
        {% for genre in genres %}
            {% if request.args.get('sort') == genre %}
                <li class="genre active">{{ genre }}</li>
            {% else %}
                <li class="genre">{{ genre }}</li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
{% endblock %}


{% block content %}
<main class="rank">
    {% for movie in movies %}
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="title">{{ movie.title }}</h1>
                    </div>
                    <div class="col-md-6 text-right">
                        <span class="rating">{{ movie.rating }} 分</span>
                    </div>
                </div>
                <p class="summary">{{ movie.summary }}</p>
            </div>

            <div class="col-md-2">
                <img src="{{ movie.cover }}" alt="{{ movie.title }}">
            </div>
        </div>
    {% endfor %}
</main>
{% endblock %}
