/********************* main ******************************/
main > .row {
    padding: 10px 0;
    border-bottom: 1px dashed #ccc;
}

main .title {
    font-size: 20px;
}

main .rating {
    color: orange;
    font-size: 30px;
}

main img {
    max-height: 150px;
}

main .summary {
    margin-top: 30px;
}

/********************* main ******************************/
.login-register-box {
    position: absolute;
    top: 30%;
    left: 50%;
    width: 400px;
    transform: translateX(-50%);
}

.login-register-box > .tab-content {
    margin-top: 15px;
}

.login-register-box .input-group {
    width: 100%;
}

.login-register-box .input-group-addon {
    width: 80px;
}
