* {
    position: relative;
    margin: 0;
    padding: 0;
    line-height: 1;
    box-sizing: border-box;
    cursor: default;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
